body {
  background-color: #000;
}

.content {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

h1 {
  color: #ff00ff;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  text-shadow: 2px 2px 0 #00ffff, -2px -2px 0 #00ffff, 2px -2px 0 #00ffff, -2px 2px 0 #00ffff;
}

p {
  color: #00ffff;
  font-size: 2rem;
  text-shadow: 2px 2px 0 #ff00ff, -2px -2px 0 #ff00ff, 2px -2px 0 #ff00ff, -2px 2px 0 #ff00ff;
}
